Repository lkno0705/ISSTracker, pull requests merged in 2020-06, with the labels that each got.

#16 Server core
  .gitignore
  Backend/Core/APIServer.py
  Backend/Core/README.md
  Backend/Core/__init__.py
  Backend/Requests/README.md
  Backend/Requests/__init__.py
  Backend/Requests/issCurrPos.py
  Backend/Requests/rssFeed.py
  Backend/Requests/userPosition.py
  ISS_Projekt/.gitignore
  ISS_Projekt/.vs/ISS_Projekt/v15/.suo
  ISS_Projekt/.vs/ProjectSettings.json
  ISS_Projekt/.vs/VSWorkspaceState.json
  ISS_Projekt/.vs/config/applicationhost.config
  ISS_Projekt/.vs/slnx.sqlite
  ISS_Projekt/LICENSE
  ISS_Projekt/MovingMarker.js
  ISS_Projekt/README.md
  ISS_Projekt/RSS/breaking_news.rss
  ISS_Projekt/bower.json
  ISS_Projekt/cdcatalog.xml
  ISS_Projekt/cdcatalog.xsl
  ISS_Projekt/cdcatalog_client.xsl
  ISS_Projekt/cors-everywhere@spenibus-18.5.30.1913.xpi
  ISS_Projekt/examples/index.html
  ISS_Projekt/examples/script.js
  ISS_Projekt/examples/style.css
  ISS_Projekt/images/International_Space_Station.svg
  ISS_Projekt/images/issicon.png
  ISS_Projekt/images/layers-2x.png
  ISS_Projekt/images/layers.png
  ISS_Projekt/images/marker-icon-2x.png
  ISS_Projekt/images/marker-icon.png
  ISS_Projekt/images/marker-shadow.png
  ISS_Projekt/index.html
  ISS_Projekt/iss_call.js
  ISS_Projekt/leaflet-src.esm.js
  ISS_Projekt/leaflet-src.esm.js.map
  ISS_Projekt/leaflet-src.js
  ISS_Projekt/leaflet-src.js.map
  ISS_Projekt/leaflet.css
  ISS_Projekt/leaflet.js
  ISS_Projekt/leaflet.js.map
  ISS_Projekt/map.css
  ISS_Projekt/map.js
  ISS_Projekt/rsstest.html
  README.md
  startServers.py
Labels: Backend, Core

#26 add astros on ISS function
  Backend/Requests/astrosOnISS.py
Labels: Backend

#45 Create HTML, CSS + JS for Slider. Not fully working
  Frontend/css/sidebar.css
  Frontend/index.html
  Frontend/javascript/slider.js
Labels: Frontend

#46 Redis DB
  .gitignore
  Backend/Core/APIServer.py
  Backend/Core/dataStructs.py
  Backend/Core/database.py
  Datenstruktur.txt
  Flowchart.pdf
  Flowchart.vsdx
  dump.rdb
  spacetoground_vodcast.xml
Labels: Backend, Core

#58 added gpx renderer
  Backend/Requests/rssFeed.py
  Frontend/gpx/run.gpx
  Frontend/index.html
  Frontend/javascript/createMap.js
  Frontend/javascript/gpx.js
  Frontend/javascript/gpxRender.js
Labels: Frontend, Postponed, invalid

#60 Geocoding
  Backend/Requests/README.md
  Backend/Requests/addressGeocoding.py
Labels: question

#61 Iss country passes
  Backend/Core/APIServer.py
  Backend/Core/database.py
  Backend/Requests/ISSCountryPasses.py
  dump.rdb
Labels: Backend

#64 Clean up
  Backend/Core/APIServer.py
  Backend/Requests/ISSCountryPasses.py
  Backend/Requests/issCurrPos.py
Labels: Backend

#65 Rss feed calls
  Backend/Requests/README.md
  Backend/Requests/rssFeed.py
  Backend/Requests/rssUtility.py
  Backend/Requests/stationReportFeed.py
  Backend/Tools/AstrosJsonLoader.py
  Backend/Tools/README.md
  Backend/Tools/__init__.py
  Backend/Tools/astros_pics_flags_nations.json
  Backend/Tools/rssFeedCalls.py
  Backend/Tools/rssFeedTimeConverter.py
  Backend/__init__.py
Labels: Backend, invalid

#68 FE map zoom
  Frontend/javascript/createMap.js
  Frontend/javascript/iss_call.js
Labels: Frontend

#67 XMLParser-File
  Backend/Core/XMLParser.py
Labels: Backend, invalid

#77 Rss feed db
  .gitignore
  Backend/Core/APIServer.py
  Backend/Core/database.py
  Backend/Core/polling.py
  Backend/Requests/rssFeed.py
  Backend/Requests/stationReportFeed.py
  Backend/Tools/rssFeedCalls.py
  dump.rdb
  startServers.py
Labels: Backend, Core, Database

#83 Installer; ISSpastPasses, API-Server implementations
  Backend/Core/APIServer.py
  Backend/Requests/issPastPasses.py
  dump.rdb
  install.sh
  start.sh
Labels: Backend, Core

#85 removed rssFeedCalls after Leon moved those to database
  Backend/Tools/rssFeedCalls.py
Labels: Backend, Core

#86 Rss feed and fly bys
  Backend/Tools/ISSFlybysXMLParser.py
  Backend/Tools/rssFeedXMLParser.py
Labels: Backend, Core

#87 Main xml parser
  Backend/Core/XMLParser.py
  Backend/Tools/ISSFlybysXMLParser.py
  Backend/Tools/issFuturePassesToXML.py
  Backend/Tools/rssFeedXMLParser.py
Labels: Backend, Core

#88 add marker for position and circle around it, adds slider for circle …
  Frontend/css/contextMenu.css
  Frontend/css/controls.css
  Frontend/css/crewCompliment.css
  Frontend/css/images/marker-icon.png
  Frontend/css/images/marker-shadow.png
  Frontend/css/sidebar.css
  Frontend/css/slider.css
  Frontend/index.html
  Frontend/javascript/contexMenu.js
  Frontend/javascript/createMap.js
  Frontend/javascript/crewCompliment.js
  Frontend/javascript/iss_call.js
  Frontend/javascript/positionMarker.js
  Frontend/javascript/sidebar.js
  Frontend/javascript/slider.js
  Frontend/javascript/xslt.js
  Frontend/xml/astosoniss.xml
  Frontend/xsl/astrosoniss.xsl
  dump.rdb
Labels: Frontend, bug

#96 Fe be call astro on iss
  Frontend/css/crewCompliment.css
  Frontend/css/slideshow.css
  Frontend/index.html
  Frontend/javascript/createMap.js
  Frontend/javascript/crewCompliment.js
  Frontend/javascript/slideshow.js
  Frontend/javascript/xslt.js
  Frontend/xsl/2.xsl
  Frontend/xsl/astrosoniss.xsl
  dump.rdb
Labels: Frontend

#99 calls fixed to new/old standard
  Frontend/javascript/crewCompliment.js
  dump.rdb
Labels: Frontend

#101 fixes display error of crew popup. Tested in FF, Opera, Chrome and Edge
  Frontend/css/slideshow.css
  dump.rdb
Labels: Frontend, bug

#104 Sidebar Checkbox restyling
  Frontend/css/sidebar.css
  Frontend/css/slider.css
  Frontend/index.html
  dump.rdb
Labels: Frontend, styling

#105 Fe rss feed style
  Frontend/css/sidebar.css
  Frontend/xsl/rssfeednasa.xsl
Labels: Frontend, styling

#106 restyle input and issButton
  Frontend/css/sidebar.css
  Frontend/index.html
  dump.rdb
Labels: Frontend, styling

#108 adds favicon
  Frontend/favicon.ico
  Frontend/images/favicon.png
  Frontend/index.html
Labels: bug

#110 Fe iss re focus
  Frontend/css/movingMarker.css
  Frontend/images/issicon_hell_rand.png
  Frontend/index.html
  Frontend/javascript/crewCompliment.js
  Frontend/javascript/iss_call.js
  dump.rdb
Labels: Frontend, bug

#114 changes call to BE
  Frontend/javascript/iss_call.js
Labels: Frontend

#118 Geo json call
  Backend/Core/XMLParser.py
Labels: Backend

#121 fixes styling of circle aroung marker
  Frontend/css/positionMarker.css
  Frontend/index.html
  Frontend/javascript/positionMarker.js
  dump.rdb
Labels: Frontend, styling

#124 change ISS icon to SVG
  Frontend/images/International_Space_Station.svg
  Frontend/javascript/iss_call.js
  dump.rdb
Labels: Frontend, styling

#125 changes svg
  Frontend/images/International_Space_Station.svg
  dump.rdb
Labels: Frontend

#122 fixes double call of BE
  Frontend/javascript/iss_call.js
Labels: Frontend, bug

#127 Fe load anim
  Frontend/css/_sidebar.css
  Frontend/css/loading.css
  Frontend/css/map.css
  Frontend/css/test.css
  Frontend/index.html
  Frontend/javascript/createMap.js
Labels: Frontend, styling

#128 changed used kml for drawing counties
  Frontend/javascript/createMap.js
  Frontend/kml/test.kml
  Frontend/kml/world_med_res.kml
Labels: Frontend

#119 implements basic GPX functionality
  Frontend/css/gpx.css
  Frontend/gpx/ISS_test.gpx
  Frontend/gpx/run.gpx
  Frontend/index.html
  Frontend/javascript/createMap.js
  Frontend/javascript/gpxRender.js
  Frontend/javascript/rss.js
  Frontend/javascript/slider.js
  Frontend/javascript/xslt.js
  Frontend/xml/issDb.xml
  Frontend/xsl/xml2gpx.xsl
  Frontend/xsl/xml3gpx.xsl
Labels: Frontend, Important

#132 adds dropdown for country list and fills it from BE
  Frontend/css/sidebar.css
  Frontend/index.html
  Frontend/javascript/createMap.js
  Frontend/javascript/crewCompliment.js
  Frontend/javascript/geoCoding.js
  Frontend/javascript/iss_call.js
  Frontend/xsl/countries.xsl
  dump.rdb
Labels: Frontend

#133 Fegp xfix
  Frontend/css/movingMarker.css
  Frontend/javascript/gpxRender.js
  Frontend/javascript/iss_call.js
  Frontend/xsl/countries.xsl
  Frontend/xsl/xml2gpx.xsl
  dump.rdb
Labels: Frontend
